#new-map {
  display: flex;
  flex-direction: column;
  padding-left: 1.3em;
  padding-right: 4.6em;
  padding-top: 2.4em;

  h2 {
    color: #FFFF;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 36px;
    margin: 0.6em;
    padding-bottom: 2.2em;
  }

  #new-map-title {
    margin: 1em;
    outline: none;
    padding: 0.5em;
    font-size: 20px;
  }

  #new-map-description {
    margin: 1em;
    outline: none;
    padding: 0.5em;
    font-size: 20px;
  }

  #submit-btn {
    width: 6em;
    margin: 1em;
    margin-left: 18.2em;
    background-color: #99a4a0;
    outline: none;
    border: none;
    padding: 0.5em;
    color: #FFFF;
    cursor: pointer;
    font-size: 20px;
    &:hover {
      color: #2b3430;
      box-shadow: 0px 8px 10px #2b3430;;
    }
  }

}

