// See: https://sass-lang.com/

body {
  font-family: 'Marcellus SC', serif;
}

body #map, body #side-bar {
  display: flex;
  flex-direction: row;
}

body #side-bar {
  flex-direction: column;
}

#map {
  height: 90vh;
  width: 75vw;
  float: right;
}


