#map-locations {
  display: flex;
  flex-direction: column;
  padding: 0.75em;
  margin-left: 1.76em;
  margin-top: 1em;

  h2 {
    color: #FFFF;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0.6em;
  }

  #location1 {
    width: 20vw;
    display: flex;
    flex-direction: column;
  }

  #location2 {
    width: 20vw;
    display: flex;
    flex-direction: column;
  }

  #location3 {
    width: 20vw;
    display: flex;
    flex-direction: column;
  }

  #title {
    margin: 0.5em;
    outline: none;
    padding: 0.5em;
  }

  #description {
    margin: 0.5em;;
    outline: none;
    padding: 0.5em;
  }

  #img-url {
    margin: 0.5em;
    outline: none;
    padding: 0.5em;
  }

  #location-submit {
    width: 5em;
    margin: 0.75em;
    margin-left: 18.5em;
    background-color: #99a4a0;
    outline: none;
    border: none;
    padding: 0.5em;
    color: #FFFF;
    cursor: pointer;
    &:hover {
      color: #2b3430;
      box-shadow: 0px 8px 10px #2b3430;;
    }
  }

  .add {
    cursor: pointer;
    margin: 0.5em;
    font-size: 20px;
    &:hover {
      color: #c4ac7c;
      text-shadow: 0px 10px 10px #2b3430;
    }
  }

  .fa-plus-circle {
    padding-right: 0.5em;
  }

}

