#search {
  margin-top: 0.9vh;
  height: 3.5vh;
  width: 20vw;
  font-size: 16px;
  border: 3px solid #2d433a;
  border-radius: 20px;
  outline: 0;
  position: relative;
  top: 0.22em;
  right: 9vw;
  padding-left: 1em;
}
